body{
    margin: 10px;
    position: relative;
}
h3.header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    right: 10px;
    color: brown;
    font-size: 50px;
    text-decoration: underline dotted;
}
#body{
    position: relative;
    top: 110px;
    align-content: center;
}
table, th, td{
    border: 2px solid greenyellow;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
}