body {
      font-family: 'Poppins', sans-serif;
      background-color: #fdfaf6;
      margin: 40px;
      color: #333;
    }

    /* Restaurant name  */
h3 {
      text-align: right;
      font-family: 'Great Vibes', cursive;
      font-size: 36px;
      color: #b32d00;
      margin-bottom: 5px;
    }

    /* Welcome message  */
.welcome {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
      word-spacing: 10px;
      color: #444;
      margin-bottom: 25px;
    }

    /* Table  */
table {
      width: 60%;
      margin: 0 auto;
      border-collapse: collapse;
      border: 2px solid #b32d00;
      font-size: 18px;
    }

th, td {
      border: 1px solid #b32d00;
      padding: 12px;
      text-align: center;
      vertical-align: middle;
    }

th {
      background-color: #ffe8d6;
      color: #4d2600;
    }

    /* Link  */
a {
      text-decoration: none;
      color: #b32d00;
    }

a:hover {
      color: #ff6600;
    }

    /* Icon  */

.material-symbols-outlined {
    color: #4d2600;
}
